#heading{
    background-color: black;
    color: green;
}

.even{
    background-color: green;
    color: white;
}

#heading2{
    background-color: aqua;
    color: black;
}

.btn-login{
    background-color: blue;
    padding: 10px;
    color: white;
    font-size: larger;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

.btn-login:hover{
    background-color: rgb(14, 14, 120);
}

.btn-login:active{
    background-color: rgb(179, 5, 5);
    border: 1px solid black;
}

.odd{
    background-color: black;
    color: white;
    padding: 40px;
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px; */
    margin: 50px;
    border-radius: 50px;

    /* margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px; */
}

body{
    background-image: url("https://media.istockphoto.com/id/1169630303/photo/blue-textured-background.webp?b=1&s=170667a&w=0&k=20&c=tI2xFhXqXFqMM0IvxSYY3F7LIwv450h2ch3yD-lZ9HU=");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.box1{
    position: static;
    left: 20px;
    top: 0px;
    width: 50px;
    height: 50px;
    background-color: brown;
}
.box2{
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
}